@import 'normalize';
@import 'helpers';

/* variables */
$linkColor: #555;

html,
button,
input,
select,
textarea {
  color: black;
}

a,
a:visited {
  color: $linkColor;
  text-decoration: none;
}

a {
  &:hover {
      color: lighten($linkColor, 10%);
  }

  &:active,
  &:focus,
  &.active {
    text-decoration: underline;
  }
}

body {
  color: black;
  font-size: 1rem;
  line-height: 1.5;
}

header {
  background: grey;
  color: black;
  padding: 1em;
}

nav {
  float: right;
  user-select: none;

  .nav-item {
    float: left;
    margin-left: .5em;
  }
}

.content {
  padding: 1em;
  width: auto;
  margin: auto;
}

* {
  margin: 0;
}

@media (min-width: 64em) {
  .content {
    width: 50%;
  }
}
