.hidden {
  display: none !important;
  visibility: hidden;
}

.clearfix {
  zoom: 1;

  &:before
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

.text-muted {
  color: #949494;
}

.text-center {
  text-align: center;
}

a.pseudo-link {
  &:focus, &:active, {
    text-decoration: none;
  }
  border-bottom: 1px dashed #555;
}
