$dayBlockColor: #ffe78c;

.weather-page {
  fieldset {
    padding-bottom: 0;

    .input-block {
      display: flex;
      input {
        flex-grow: 1;
        margin-bottom: 0;
      }
    }
  }

  .examples-block {
    a {
      margin: 5px;
    }
  }

  .weather-result-block {
    display: flex;

    & > * {
      margin-right: 15px;
      align-self: center;
    }
  }

  .forecast-block {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    .f-day {
      width: 100%;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      text-align: center;
      background-color: lighten($dayBlockColor, 18%);

      .date {
        background-color: lighten($dayBlockColor, 10%);
      }
    }
  }
}

@media (min-width: 48em) {
  .weather-page fieldset .input-block input {
    flex-grow: 0;
  }

  .weather-page .forecast-block {
    justify-content: space-between;
    width: 100%;

    .f-day {
      width: 200px;
    }
  }
}

@media (min-width: 64em) {
  .weather-page .forecast-block {
    justify-content: flex-start;
    width: 650px;

    .f-day {
      margin-right: 10px;
    }
  }
}
